/* Reset do Navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;}
/* Reset do Navegador */

html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(88deg,rgb(233, 208, 186) 20%, white 80%);
}


/* Barra Lateral */
.barra-lateral{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(233, 208, 186);
    border: 0 solid black;}
/* Barra Lateral */

/* Centralizar a Imagem */
.img-barralateral{text-align: center;}
/* Centralizar a Imagem */

/* Imagem */
.img-barralateral img{
    margin-top: 50%;
    text-align: center;
    width: 200px;
    border: 0.4px solid black;
    border-radius: 55%;}
/* Imagem */

/* menu */
.menu{
    margin: 20px;
    text-align: center;}
/* menu */

/* menu A */
.menu a{
    color: black;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;}
/* menu A */

/* logo posicao*/
.logo{
    text-align: center;
    margin-top: 5px;}
/* logo posicao*/

/* logo */
.logo a{
    text-decoration: none;
    color: black;
    width: 20px;
    height: 20px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}
/* logo */

/* logo */
.logo i{
    line-height: 20px;
}
/* logo */

/* corpo início */
#home-content{
    position: absolute;
    height: 100%;
    width: 80%;
    left: 20%;
    overflow-y: auto;
    padding: 0 3%;
}
/* corpo início */

/* Texto do corpo início */
section.inicio{
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0px;
}
/* Texto do corpo início */

/* Texto do corpo início */
section.inicio h2{
    position: relative;
    margin-top: 500px;
    left: 30px ;
    color: black;
    font-size: 40px;}
/* Texto do corpo início */

/* Texto do corpo início */
section.inicio h3{    
    position: relative;
    margin: 10px;
    left: 30px;
    color: #6c757d;
    font-size: 18px;}
/* Texto do corpo início */

/* Texto do corpo início */
section.inicio h3 > span{
    margin: 2px;
    position: relative;
    color: #6c757d;
    font-size: 18px;}
/* Texto do corpo início */

/* Texto do Corpo */
section.inicio h4{
   color: #6c757d;
   font-size: 18px;
   left: 40px;
   position: relative;
}
/* Texto do corpo início */

section.areas{
    position: absolute;
    margin-top: 852px;
    height: 100%;
    width: 100%;
    left: 0px; 
}

#boxareas-home{
    position: absolute;
    display: inline-block;
    text-align: left;
    color: black;
    width: 80%;
    margin: 250px 150px;
    padding: 20px 10px;
    box-sizing: border-box;
    border: 0.4px solid #000000;
    border-radius: 5px;
    background-color: white;
}

section.areas h2{
    border-bottom: 0.5px solid black;
    text-align: center;
}

section.areas li{
    position: relative;
    left: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

section.certificacoes{
    position: relative;
    margin-top: 2000px;
    height: 100%;
    width: 100%;
    left: 0px;
}

#boxcertificacoes-home{
    position: absolute;
    display: inline-block;
    text-align: left;
    color: black;
    width: 80%;
    margin: 18px 150px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: white;
}

section.certificacoes h2{
    text-align: center;
}

section.certificacoes h3{
    font-size: 25px;
    margin: 10px 0;
    transform: translateY(-2px);
    padding-inline-start: 2px;
    padding-top: 10px;
    border-top: 1px solid black;}

section.certificacoes h4{
    font-size: 25px;
    margin: 20px 0;
    transform: translateY(5px);
    padding-inline-start: 2px;
    padding-top: 10px;
    border-top: 1px solid black;
}

section.certificacoes h5{
    font-size: 25px;
    margin: 20px 0;
    transform: translateY(5px);
    padding-inline-start: 2px;
    padding-top: 10px;
    border-top: 1px solid black;
}

section.certificacoes li{
    position: relative;
    left: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

section.escolar{
    position: absolute;
    margin-top: 3000px;
    height: 100%;
    width: 100%;
    left: 0px;
}

.box-escolar{
    position: absolute;
    width: 80%;
    margin: 50px 10px;
    padding: 20px;
}

.faculdade{
    position: absolute;
    display: inline-block;
    color: black;
    width: 70%;
    margin: -20px -15px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: white; 
}

.faculdade h2{
    padding: 2px 0;
    text-align: left;
}

.faculdade li{
    border-top: 0.5px solid black;
    transform: translateY(2px);
    padding-top: 10px;
}

.programacao{
    position: absolute;
    display: inline-block;
    color: black;
    width: 70%;
    margin: 86px -15px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: white; 
}

.programacao h2{
    padding: 2px 0;
    text-align: left;
}

.programacao li{
    border-top: 0.5px solid black;
    transform: translateY(2px);
    padding-top: 10px;
}

.marcacao{
    position: absolute;
    display: inline-block;
    color: black;
    width: 58%;
    margin: 250px -15px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: white; 
}
.marcacao h2{
    padding: 2px 0;
    text-align: left;
}
.marcacao li{
    border-top: 0.5px solid black;
    transform: translateY(2px);
    padding-top: 10px;
}

.dados{
    position: absolute;
    display: inline-block;
    color: black;
    width: 58%;
    margin: 385px -15px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: white;
}

.dados h2{
    padding: 2px 0;
    text-align: left;
}
.dados li{
    border-top: 0.5px solid black;
    transform: translateY(2px);
    padding-top: 10px;
}

.extra{
    position: absolute;
    display: inline-block;
    color: black;
    width: 58%;
    margin: 250px 630px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: white;
}
.extra h2{
    padding: 2px 0;
    text-align: left;
}
.extra li{
    border-top: 0.5px solid black;
    transform: translateY(2px);
    padding-top: 10px;
}

.profissional{
    position: absolute;
    margin-top: 4000px;
    height: 100%;
    width: 100%;
    left: 0px; 
}