/* Reset do Navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;}
/* Reset do Navegador */

/*Corpo do Site*/
html.body{
    height: 100%;}
/*Corpo do Site*/

.parent{
    display: flex;}

/* Barra Lateral */
.barra-lateral{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(233, 208, 186);
    border: 1px solid black;    }
/* Barra Lateral */

/* Posicionamento da Barra Lateral */
.barralateral-posicao{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);}
/* Posicionamento da Barra Lateral */

/* Centralizar a Imagem */
.img-barralateral{text-align: center;}
/* Centralizar a Imagem */

/* Imagem */
.img-barralateral img{
    text-align: center;
    width: 65%;
    border: 3px solid black;
    border-radius: 55%;}
/* Imagem */

/* menu */
.menu{
    margin: 20px 0;
    text-align: center;}
/* menu */

/* menu A */
.menu a{
    color: black;
    font-size: 19px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;}
/* menu A */

/* logo */
.social-logo{
    text-align: center;
    margin-top: 20px;}
/* logo */
.social-logo a{
    text-decoration: none;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    margin: 0 1px;
    text-align: center;
}
/* logo */

/* logo */
.social-logo i{
    line-height: 50px;
}
/* logo */

/* corpo */
.content{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 0 3%;}
/* corpo */

/* Texto do Corpo */
section.descricao{
    position: relative;
    top: 50%;
    transform: translateY(-50%);}
/* Texto do Corpo */

/* Texto do Corpo */
section.descricao h2{
    color: black;
    font-size: 40px;}
/* Texto do Corpo */

/* Texto do Corpo */
section.descricao h3{    
    margin: 10px 0;
    color: #6c757d;
    font-size: 18px;}
/* Texto do Corpo */

/* Texto do Corpo */
section.descricao h3 > span{
    margin: 2px;
    color: #6c757d;}
/* Texto do Corpo */

/* Texto do Corpo */
section.descricao h4{
   color: #6c757d;
   font-size: 18px;
   margin-top: 2px;}
/* Texto do Corpo */
